<form action="/favourite-list" method="POST">
  <button id="likeButton" class="text-gray-500 text-xl transition duration-300">
    <i id="heartIcon" class="far fa-heart"></i>
  </button>
  <input type="hidden" name="homeId" value="<%= home._id%>"/>
</form>
