<footer class="mt-2 w-full">
  <nav class="bg-sky-950 p-6 text-white">
    <div class="flex flex-wrap justify-around gap-8">
      <div>
        <h3 class="font-bold mb-2">USEFUL LINKS</h3>
        <ul class="space-y-1">
          <li><a href="/aboutUs" class="hover:text-sky-300">About Us</a></li>
          <li><a href="/contact" class="hover:text-sky-300">Contact</a></li>
          <li><a href="/privacy" class="hover:text-sky-300">Privacy Policy</a></li>
          <li><a href="/termService" class="hover:text-sky-300">Terms of Service</a></li>
        </ul>
      </div>

      <div>
        <h3 class="font-bold mb-2">SUPPORT</h3>
        <ul class="space-y-1">
          <li><a href="/help" class="hover:text-sky-300">Help Center</a></li>
          <li><a href="/faq" class="hover:text-sky-300">FAQ</a></li>
          <li>
            <a href="/contact" class="hover:text-sky-300">Report a Problem</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="font-bold mb-2">ADDRESS</h3>
        <ul class="space-y-1">
          <li>123 Main St</li>
          <li>Man Haton, UP, 025208</li>
          <li>India</li>
          <li>(123) 456-7890</li>
        </ul>
      </div>

      <div>
        <img src="/images/home-gif.gif" alt="Logo" style="height:100px; border-radius: 8px;" />
      </div>


      <div class="text-center">
        <h3 class="font-bold mb-2">LEGAL</h3>
        <ul class="space-y-1">
          <li>Copyright &copy; 2025</li>
          <li>HomieeBook</li>
          <li>All rights reserved</li>
          <li>Designed by Vipin Soni...</li>
        </ul>
      </div>
    </div>

    <!-- Social links -->
    <div class="flex gap-2 items-center mt-10 justify-center space-x-4">
      <a href="https://google.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/google-symbol.png" alt="Google" class="h-8 w-8 hover:opacity-80" />
      </a>
      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/instagram.png" alt="Instagram" class="h-8 w-8 hover:opacity-80" />
      </a>
      <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/facebook.png" alt="Facebook" class="h-8 w-8 hover:opacity-80" />
      </a>
      <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/twitter.png" alt="Twitter" class="h-8 w-8 hover:opacity-80" />
      </a>
      <a href="https://linkdin.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/linkdin.png" alt="linkdin" class="h-10 w-10 text-sky-600 hover:opacity-80" />
      </a>
      <a href="https://pinterest.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/pinterest.png" alt="pinterest" class="h-8 w-8 hover:opacity-80" />
      </a>
      <a href="https://WeChat.com" target="_blank" rel="noopener noreferrer">
        <img src="/images/wechat.png" alt="wechat" class="h-8 w-8 hover:opacity-80" />
      </a>
    </div>
  </nav>
</footer>
