<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Terms of Service</title>
  <style>
    body { font-family: Arial, sans-serif;}
  </style>
</head>
<body>
  <%- include('../partials/nav') %>
  <div class="container font-extrabold mx-auto p-8">
  <h1 class="font-extrabold size-1.5 text-2xl  text-sky-950 mb-5">Terms of Service</h1>
  <section class="mb-4">
    <h2 class="font-bold">1. Acceptance of Terms</h2>
    <p>
      By accessing or using our services, you agree to be bound by these Terms of Service.
    </p>
  </section>
  <section class="mb-4">
    <h2 class="font-bold">2. Use of Service</h2>
    <p>
      You agree to use the service only for lawful purposes and in accordance with these terms.
    </p>
  </section>
  <section class="mb-4">
    <h2 class="font-bold">3. Privacy Policy</h2>
    <p>
      Please review our <a href="/privacy">Privacy Policy</a> for information on how we collect and use data.
    </p>
  </section>
  <section class="mb-4">
    <h2 class="font-bold">4. Changes to Terms</h2>
    <p>
      We reserve the right to modify these terms at any time. Changes will be posted on this page.
    </p>
  </section>
  <section class="mb-4">
    <h2 class="font-bold">5. Contact Us</h2>
    <p>
      If you have any questions about these Terms, please contact us at support@example.com.
    </p>
  </section>
  </div>
</body>
</html>