html,
body {
  height: 100%;
  margin: 0;
}
.home-card {
  transition: transform 0.2s;
}

.home-card:hover {
  transform: translateY(-7px);
}

@layer utilities {
  .text-outline {
    color: rgba(0, 0, 0, 0.65);
    -webkit-text-stroke: 1.5px #bdb9b9;
  }
}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1rem;
  background-color: #4CAF50;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(150%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.notification.show {
  transform: translateX(0);
}

.booking-card {
  transition: transform 0.2s;
}

.booking-card:hover {
  transform: translateY(-5px);
}

.content {
  flex: 1;
}

footer div:last-child {
  color: white;
}

.pagination{
  display: flex;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pagination a, .dots {
  color: black;
  float: left;
  padding: 8px 16px;
  background-color: white;
  text-decoration: none;
}
.pagination a.active{
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.pagination a ,.dots{
  border: 1px solid #ddd; /* Gray */
}
.pagination a, .dots {
  margin: 0 4px;
}